{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
            <h1 class="page-heading">My Account</h1>
            </div>
        </div>
        <p class="title">Pricing Plans</p>
        <div class="columns">
            {% for product in products %}
            <div class="column">
                <p class="subtitle">{{ product.name }}</p>
                <ul class="feature-list">
                    {% for feature, value in product.metadata.items %}
                    <li>
                        <span>{% if value == True %}{% include "icons/tick.svg" %}{% else %}{% include "icons/cross.svg" %}{% endif %}</span>
                        {{ feature }}
                    </li>
                    {% endfor %}
                </ul>
                {% for plan in product.plan_set.all %}
                <div>
                    <p>{{ plan.human_readable_price }}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}