{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="page-heading">My Account</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h3>Pricing Plans</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row p-3">
        <div class="col-3 offset-3 text-center">
            <div id="month-select-interval" class="interval-box is-selected">
                <h3>Monthly</h3>
            </div>
        </div>
        <div class="col-3 text-center">
            <div id="year-select-interval" class="interval-box">
                <h3>Annual</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <div class="subscription-box is-selected">
                <h2 class="subtitle">Bronze</h2>
                <div>
                    <h4>FREE</h4>
                </div>
                <ul class="feature-list">
                    <li>
                        <span>{% include "icons/tick.svg" %}</span>
                        Access to seasonal items
                    </li>
                    <li>
                        <span>{% include "icons/tick.svg" %}</span>
                        Access to meal suggestions
                    </li>
                    <li>
                        <span>{% include "icons/tick.svg" %}</span>
                        Access to recipes
                    </li>
                    <li>
                        <span>{% include "icons/cross.svg" %}</span>
                        Access to meal plans
                    </li>
                    <li>
                        <span>{% include "icons/cross.svg" %}</span>
                        Access to customisable shopping lists
                    </li>
                </ul>
            </div>
        </div>
        {% for product in products %}
        {% for plan in product.plan_set.all %}
        <div class="col-4 interval-type interval-{{ plan.interval }}" data-product-name="{{ product.name }}" data-product-price="{{ plan.human_readable_price }}" data-product-id="{{ plan.id }}">
            <div class="subscription-box" onclick="planSelect('{{product.name}}' ,'{{plan.human_readable_price}}', '{{plan.id}}')">
                <h2 class="subtitle">{{ product.name }}</h2>
                
                <ul class="feature-list">
                    {% for feature, value in product.metadata.items %}
                    <li>
                        <span>{% if value == True %}{% include "icons/tick.svg" %}{% else %}{% include "icons/cross.svg" %}{% endif %}</span>
                        {{ feature }}
                    </li>
                    {% endfor %}
                </ul>
                <div>
                    <h4>{{ plan.human_readable_price }}</h4>
                </div>
                
            </div>
        </div>
                {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="container ">
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card mx-5 shadow rounded" style="border-radius:50px;border:none">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Checkout</h5>
            <p class="text-muted ">Enter card details.  Your subscription will start immediately</p>
            <div class="row">
              <div class="col-6 text-muted">
                <p>Plan:</p>
                <p>Total:</p>
              </div>
              <div class="col-6 text-right">
                <p id="plan"></p>
                <p id="price"></p>
                <p hidden id="priceId"></p>
              </div>

            </div>
            <br>
            <form id="subscription-form" >
              <div id="card-element" class="MyCardElement">
                <!-- Elements will create input elements here -->
              </div>
              
              <!-- We'll put the error messages in this element -->
              <div id="card-errors" role="alert"></div>
              <button id="submit" type="submit">
                <div class="spinner-border  spinner-border-sm text-light hidden" id="spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <span id="button-text">Subscribe</span>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}