{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
            <h1 class="page-heading">Eat Your Seasons</h1>
            <h4 class="page-subheading"><em>Eat seasonally, eat sustainably, eat well</em></h4>
            </div>
        </div>
        <div class="row text-center pt-5">
            <h2>I want to...</h2>
        </div>
        <div class="row text-center">
            <div class="col-6 col-md-6 spring home-icons">
                <a href="{% url 'dashboard' %}">
                    {% include "layout/icons/seasonal.html" %}
                    <h4>Find out what's in season right now</h4>
                </a>
            </div>
            <div class="col-6 col-md-6 summer home-icons">
                <a href="{% url 'dashboard' %}">
                {% include "layout/icons/food.html" %}
                <h4>Get some inspiration for seasonal meals</h4>
                </a>
            </div>
            <div class="col-6 col-md-6 autumn home-icons">
                <a href="{% url 'dashboard' %}">
                {% include "layout/icons/calendar.html" %}
                <h4>See this month's seasonal meal plan</h4>
                </a>
            </div>
            <div class="col-6 col-md-6 winter home-icons">
                <a href="{% url 'dashboard' %}">
                {% include "layout/icons/plant.html" %}
                <h4>Learn more about seasonal eating</h4>
                </a>
            </div>
        </div>
        
    </div>
{% endblock %}