{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home {% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="landing-page" class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="page-heading">Eat Your Seasons</h1>
      <h4 class="page-subheading"><em>Eat seasonally, eat sustainably, eat
          well</em></h4>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <h2>I want to...</h2>
  </div>
  <div class="row text-center">
    <div class="p-2 col-6 spring home-icons seasons-anchor">
      {% include "icons/seasonal.svg" %}
      <h4>Find out what's in season right now</h4>
    </div>
    <div class="p-2 col-6 summer home-icons recipes-anchor">
      {% include "icons/food.svg" %}
      <h4>Get some inspiration for seasonal meals</h4>
    </div>
    <div class="p-2 col-6 autumn home-icons plan-anchor">
      {% include "icons/calendar.svg" %}
      <h4>See this month's seasonal meal plan</h4>
    </div>
    <div class="p-2 col-6 winter home-icons">
      <a href="#seasonal-eating-info">
        {% include "icons/plant.svg" %}
        <h4>Learn more about seasonal eating</h4>
      </a>
    </div>
  </div>
</div>
<div id="seasonal-eating-info" class="container">
  <div class="row">
    <div class="col text-center">
      <h4 class="page-subheading">Seasonal Eating...</h4>
    </div>
  </div>
  <div id="spring" class="row pt-3 m-3 info-box">
    <div class="d-none d-md-block col-md-3 spring my-auto">
      {% include "icons/apple.svg" %}
    </div>
    <div class="col-md-9 col-12">
      <h1>Why?</h1>
      <p>There are many ways we can all try to reduce our impact on the planet:
        avoiding single-use plastic, recycling all that we can and taking steps
        to keep our carbon footprint as low as possible.<br>
        However, many studies show that one of the single biggest ways we can
        all make a difference, is looking at our diet and changing the way we
        eat.</p>
    </div>
  </div>
  <div id="summer" class="row pt-3 m-3 info-box">
    <div class="col-md-9 col-12">
      <h1>How?</h1>
      <p>If you have looked into this subject to any extent, you may know what a
        minefield it is. Which dietary lifestyle is best? Should you become a
        vegetarian? A vegan? A flexitarian?</p>
      <p>As a family, we have tried it all. And while there are definite
        benefits to each approach, there are also huge drawbacks. Becoming vegan
        is often cited as one of the best approaches
        for an environmentally-sound diet. However, while following a vegan diet
        ourselves, we found that there's such a huge array of alternative
        products available (which certainly makes it
        a much easier diet than it used to be), that the effect on
        sustainability becomes questionable. Is a "plant-based" meat alternative
        produced in the US and shipped over to the UK really
        an environmentally-better product than a free-range chicken breast from
        a farm just down the road from you? Not necessarily...
      </p>
    </div>
    <div class="d-none d-md-block col-md-3 summer my-auto">
      {% include "icons/pepper.svg" %}
    </div>
  </div>
  <div id="autumn" class="row pt-3 m-3 info-box">
    <div class="d-none d-md-block col-md-3 autumn my-auto">
      {% include "icons/tomato.svg" %}
    </div>
    <div class="col-md-9 col-12">
      <h1>Tell me more...</h1>
      <p>After a lot of thought, and realisation that there is nothing
        black-and-white in any of this, we decided to base our diet on the
        following principles:</p>
      <ul>
        <li>Whole foods (i.e. plant foods that are unprocessed and unrefined, or
          processed and refined as little as possible - food that you can
          instantly recognise!) should make up the vast majority of your diet.
        </li>
        <li>Meat/fish and animal products should be kept to an absolute minimum
          and only used when they can be locally sourced (and not factory-farmed
          or shipped from another country).</li>
        <li>If you do have to buy processed foods or your only option for meat
          etc is factory-farmed, then plant-based alternatives are a better
          choice.</li>
      </ul>
    </div>
  </div>
  <div id="winter" class="row pt-3 m-3 info-box">
    <div class="col-md-9 col-12">
      <h1>What next?</h1>
      <p>This site is based on the meal plan that we now follow. You can find
        information on what foods are in season and when. You can see meal
        suggestions that make the most
        of seasonal produce. And most importantly (for time-saving and
        convenience), you can view and customise weekly meal plans and shopping
        lists to allow you to integrate these changes
        into your life, as seamlessly as possible.
      </p>
    </div>
    <div class="d-none d-md-block col-md-3 winter my-auto">
      {% include "icons/potato.svg" %}
    </div>
  </div>
  <div class="row">
    <div class="col text-center page-subheading seasons-anchor hvr-pop">
      <h1>Sound good? Then let's go!</h1>
    </div>
  </div>
</div>
{% endblock %}