.light-theme {
    --background: #fafafa;
    --font: #121212;
    --contrast-font: #fafafa;
    --january: #cd8858;
    --february: #602682;
    --march: #26826f;
    --april: #c32231;
    --may: #4f8739;
    --june: #fca22f;
    --july: #910024;
    --august: #ffbd47;
    --september: #35438c;
    --october: #37569a;
    --november: #b2455c;
    --december: #1f93a6;
    --fruit: #32993280;
    --veg: #b37a3780;
    --herbs: #8c2e9380;
    --meat: #f0253280;
    --fish: #0f2ef880;
    --fruit-active: #329932;
    --veg-active: #b37a37;
    --herbs-active: #8c2e93;
    --meat-active: #f02532;
    --fish-active: #0f2ef8;

}

.dark-theme {
    --background: #121212;
    --font: #fafafa;
    --contrast-font: #121212;
    --january: #eecc9f;
    --february: #b793c0;
    --march: #8ad0c5;
    --april: #e59498;
    --may: #aed1a3;
    --june: #ffe08d;
    --july: #d8808a;
    --august: #fff3a3;
    --september: #a0a9cf;
    --october: #98b4d4;
    --november: #ed9aae;
    --december: #83dbec;
    --fruit: #9fd29d80;
    --veg: #cfad6780;
    --herbs: #cd94cc80;
    --meat: #f5979a80;
    --fish: #ae9cfe80;
    --fruit-active: #9fd29d;
    --veg-active: #cfad67;
    --herbs-active: #cd94cc;
    --meat-active: #f5979a;
    --fish-active: #ae9cfe;
}

.month-january.light-theme {
    --highlights: #cd8858;
}

.month-january.dark-theme {
    --highlights: #eecc9f;
}

.month-february.light-theme {
    --highlights: #602682;
}

.month-february.dark-theme {
    --highlights: #b793c0;
}

.month-march.light-theme {
    --highlights: #26826f;
}

.month-march.dark-theme {
    --highlights: #8ad0c5;
}

.month-april.light-theme {
    --highlights: #c32231;
}

.month-april.dark-theme {
    --highlights: #e59498;
}

.month-may.light-theme {
    --highlights: #4f8739;
}

.month-may.dark-theme {
    --highlights: #aed1a3;
}

.month-june.light-theme {
    --highlights: #fca22f;
}

.month-june.dark-theme {
    --highlights: #ffe08d;
}

.month-july.light-theme {
    --highlights: #910024;
}

.month-july.dark-theme {
    --highlights: #d8808a;
}

.month-august.light-theme {
    --highlights: #ffbd47;
}

.month-august.dark-theme {
    --highlights: #fff3a3;
}

.month-september.light-theme {
    --highlights: #35438c;
}

.month-september.dark-theme {
    --highlights: #a0a9cf;
}

.month-october.light-theme {
    --highlights: #37569a;
}

.month-october.dark-theme {
    --highlights: #98b4d4;
}

.month-november.light-theme {
    --highlights: #b2455c;
}

.month-november.dark-theme {
    --highlights: #ed9aae;
}

.month-december.light-theme {
    --highlights: #1f93a6;
}

.month-december.dark-theme {
    --highlights: #83dbec;
}

nav {
    font-size: 2rem;
    padding: 1rem;
}

nav svg {
    fill: var(--font);
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
}

nav a {
    text-decoration: none;
}

#logo {
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--font);
    border-radius: 50%;
}

#logo svg {
    height: 4rem;
    width: 4rem;
    fill: var(--font);
}


body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Tenali Ramakrishna', sans-serif;
}

#landing-page {
    height: 90vh;
}

.page-heading {
    font-size: 2.5rem;
}

.page-subheading {
    font-size: 1.5rem;
}

.info-box {
    border-radius: 0.2rem;
}

.info-box p {
    font-size: 1.3rem;
}

#spring {
    border: 0.2rem solid var(--may);
}

.spring svg {
    fill: var(--may);
}

#summer {
    border: 0.2rem solid var(--june);
}

.summer svg {
    fill: var(--june);
}

#autumn {
    border: 0.2rem solid var(--september);
}

.autumn svg {
    fill: var(--september);
}

#winter {
    border: 0.2rem solid var(--november);
}

.winter svg {
    fill: var(--november);
}

.month-select {
    cursor: pointer;
}

.month-select h2 {
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.month-select.current h2 {
    background-color: var(--highlights);
    color: var(--contrast-font);
}

[id="january-select"] h2 {
    border: 0.15rem solid var(--january);
    color: var(--january);
}

[id="february-select"] h2 {
    border: 0.15rem solid var(--february);
    color: var(--february);
}

[id="march-select"] h2 {
    border: 0.15rem solid var(--march);
    color: var(--march);
}

[id="april-select"] h2 {
    border: 0.15rem solid var(--april);
    color: var(--april);
}

[id="may-select"] h2 {
    border: 0.15rem solid var(--may);
    color: var(--may);
}

[id="june-select"] h2 {
    border: 0.15rem solid var(--june);
    color: var(--june);
}

[id="july-select"] h2 {
    border: 0.15rem solid var(--july);
    color: var(--july);
}

[id="august-select"] h2 {
    border: 0.15rem solid var(--august);
    color: var(--august);
}

[id="september-select"] h2 {
    border: 0.15rem solid var(--september);
    color: var(--september);
}

[id="october-select"] h2 {
    border: 0.15rem solid var(--october);
    color: var(--october);
}

[id="november-select"] h2 {
    border: 0.15rem solid var(--november);
    color: var(--november);
}

[id="december-select"] h2 {
    border: 0.15rem solid var(--december);
    color: var(--december);
}

.home-icons svg {
    width: 5.25rem;
    height: 5.25rem;
    cursor: pointer;
}

.home-icons > a {
    text-decoration: none;
    color: var(--font);
}

.plan-icons > svg {
    width: 3.25rem;
    height: 3.25rem;
    fill: var(--highlights);
    cursor: pointer;
}

.food-icons {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
}

#fruit {
    fill: var(--fruit);
}

#fruit.food-icons-active {
    fill: var(--fruit-active);
}

#vegetables {
    fill: var(--veg);
}

#vegetables.food-icons-active {
    fill: var(--veg-active);
}

#nuts_herbs {
    fill: var(--herbs);
}

#nuts_herbs.food-icons-active {
    fill: var(--herbs-active);
}

#meat {
    fill: var(--meat);
}

#meat.food-icons-active {
    fill: var(--meat-active);
}

#fish {
    fill: var(--fish);
}

#fish.food-icons-active {
    fill: var(--fish-active);
}

#seasonal-box {
    border: 2px solid var(--highlights);
  border-radius: 0.2rem;
}

@media (min-width: 992px) {

    nav svg {
    fill: var(--font);
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
}

.page-heading {
    font-size: 3rem;
}

.page-subheading {
    font-size: 2rem;
}

    .icons-large {
    font-size: 4rem;
    color: var(--highlights);
}

.home-icons svg {
    width: 9.25rem;
    height: 9.25rem;
}

.plan-icons > svg {
    width: 7.25rem;
    height: 7.25rem;
}

.food-icons {
    width: 6.25rem;
    height: 6.25rem;
}

.page-heading {
    font-size: 4rem;
}

.page-subheading {
    font-size: 3rem;
}
}