.light-theme {
    --background: #fafafa;
    --font: #121212;
    --contrast-font: #fafafa;
    --january: #cd8858;
    --february: #602682;
    --march: #26826f;
    --april: #c32231;
    --may: #4f8739;
    --june: #fca22f;
    --july: #910024;
    --august: #ffbd47;
    --september: #35438c;
    --october: #37569a;
    --november: #b2455c;
    --december: #1f93a6;
}

.dark-theme {
    --background: #121212;
    --font: #fafafa;
    --contrast-font: #121212;
    --january: #eecc9f;
    --february: #b793c0;
    --march: #8ad0c5;
    --april: #e59498;
    --may: #aed1a3;
    --june: #ffe08d;
    --july: #d8808a;
    --august: #fff3a3;
    --september: #a0a9cf;
    --october: #98b4d4;
    --november: #ed9aae;
    --december: #83dbec;
}

.january-light {
    --highlights: #cd8858;
}

.january-dark {
    --highlights: #eecc9f;
}

.february-light {
    --highlights: #602682;
}

.february-dark {
    --highlights: #b793c0;
}

.march-light {
    --highlights: #26826f;
}

.march-dark {
    --highlights: #8ad0c5;
}

.april-light {
    --highlights: #c32231;
}

.april-dark {
    --highlights: #e59498;
}

.may-light {
    --highlights: #4f8739;
}

.may-dark {
    --highlights: #aed1a3;
}

.june-light {
    --highlights: #fca22f;
}

.june-dark {
    --highlights: #ffe08d;
}

.july-light {
    --highlights: #910024;
}

.july-dark {
    --highlights: #d8808a;
}

.august-light {
    --highlights: #ffbd47;
}

.august-dark {
    --highlights: #fff3a3;
}

.september-light {
    --highlights: #35438c;
}

.september-dark {
    --highlights: #a0a9cf;
}

.october-light {
    --highlights: #37569a;
}

.october-dark {
    --highlights: #98b4d4;
}

.november-light {
    --highlights: #b2455c;
}

.november-dark {
    --highlights: #ed9aae;
}

.december-light {
    --highlights: #1f93a6;
}

.december-dark {
    --highlights: #83dbec;
}

nav {
    font-size: 2rem;
    padding: 1rem;
}

nav i {
    color: var(--font);
    cursor: pointer;
}

#logo {
    height: 5rem;
    border-radius: 50%;
}

body {
    padding-top: 100px;
    background-color: var(--background);
    color: var(--font);
    font-family: 'Tenali Ramakrishna', sans-serif;
}


#spring {
    background-color: var(--march);
    color: var(--contrast-font);
}

#summer {
    background-color: var(--june);
    color: var(--contrast-font);
}

#autumn {
    background-color: var(--september);
    color: var(--contrast-font);
}

#winter {
    background-color: var(--december);
    color: var(--contrast-font);
}

.month-select {
    cursor: pointer;
}

.month-select h2 {
  padding: 0.5rem;
}

#january-select h2 {
    border: 0.2rem solid var(--january);
    border-radius: 0.2rem;
    color: var(--january);
}

#february-select h2 {
    border: 2px solid var(--february);
    border-radius: 0.2rem;
    color: var(--february);
}

#march-select h2 {
    border: 2px solid var(--march);
    border-radius: 0.2rem;
    color: var(--march);
}

#april-select h2 {
    border: 2px solid var(--april);
    border-radius: 0.2rem;
    color: var(--april);
}

#may-select h2 {
    border: 2px solid var(--may);
    border-radius: 0.2rem;
    color: var(--may);
}

#june-select h2 {
    border: 2px solid var(--june);
    border-radius: 0.2rem;
    color: var(--june);
}

#july-select h2 {
    border: 2px solid var(--july);
    border-radius: 0.2rem;
    color: var(--july);
}

#august-select h2 {
    border: 2px solid var(--august);
    border-radius: 0.2rem;
    color: var(--august);
}

#september-select h2 {
    border: 2px solid var(--september);
    border-radius: 0.2rem;
    color: var(--september);
}

#october-select h2 {
    border: 2px solid var(--october);
    border-radius: 0.2rem;
    color: var(--october);
}

#november-select h2 {
    border: 2px solid var(--november);
    border-radius: 0.2rem;
    color: var(--november);
}

#december-select h2 {
    border: 2px solid var(--december);
    border-radius: 0.2rem;
    color: var(--december);
}