.light-theme {
    --background: #fafafa;
    --font: #121212;
}

.dark-theme {
    --background: #121212;
    --font: #fafafa;
}

.january-light {
    --highlights: #cd8858;
}

.january-dark {
    --highlights: #cd8858;
}

.february-light {
    --highlights: #cd8858;
}

.february-dark {
    --highlights: #cd8858;
}

.march-light {
    --highlights: #cd8858;
}

.march-dark {
    --highlights: #cd8858;
}

.april-light {
    --highlights: #cd8858;
}

.april-dark {
    --highlights: #cd8858;
}

.may-light {
    --highlights: #cd8858;
}

.may-dark {
    --highlights: #cd8858;
}

.june-light {
    --highlights: #cd8858;
}

.june-dark {
    --highlights: #cd8858;
}

.july-light {
    --highlights: #cd8858;
}

.july-dark {
    --highlights: #cd8858;
}

.august-light {
    --highlights: #cd8858;
}

.august-dark {
    --highlights: #cd8858;
}

.september-light {
    --highlights: #cd8858;
}

.september-dark {
    --highlights: #cd8858;
}

.october-light {
    --highlights: #cd8858;
}

.october-dark {
    --highlights: #cd8858;
}

.november-light {
    --highlights: #cd8858;
}

.november-dark {
    --highlights: #cd8858;
}

.december-light {
    --highlights: #cd8858;
}

.december-dark {
    --highlights: #cd8858;
}

nav {
    font-size: 2rem;
    padding: 1rem;
}

nav i {
    color: var(--font);
}

#logo {
    height: 5rem;
    border-radius: 50%;
}

body {
    padding-top: 100px;
    color: var(--font);
    font-family: 'Tenali Ramakrishna', sans-serif;
}


#spring {
    background-color: #8ad0c5;
}

#summer {
    background-color: #ffe08d;
}

#autumn {
    background-color: #a0a9cf;
}

#winter {
    background-color: #83dbec;
}