{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}

    <div class="container">
    <div class="row">
        <div class="col text-center">
        <h1 class="page-heading">Eat Your Seasons</h1>
        <h4 class="page-subheading"><em>Change Password</em></h4>
        </div>
    </div>
  {% endif %}
    </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
    <div class="row">
        <div class="offset-2 col-8 p-3 login-box">
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="login-button hvr-pop" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        </div>
    </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
