{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="page-heading">Eat Your Seasons</h1>
      <h4 class="page-subheading"><em>Change Password</em></h4>
    </div>
  </div>

  <div class="row">
    <div class="offset-2 col-8 p-3 login-box">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="login-button hvr-pop" type="submit" name="action">{% trans "Change Password" %}</button><br>
        <h5><a class="anchor hvr-pop"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></h5>
    </form>
    </div>
  </div>
</div>
{% endblock %}
