{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="page-heading">Eat Your Seasons</h1>
      <h4 class="page-subheading"><em>Sign Up</em></h4>
    </div>
  </div>

  <h4>{% blocktrans %}Already have an account? Then please <a
      class="anchor hvr-pop" href="{{ login_url }}">sign
      in</a>.{% endblocktrans %}</h4>

  <div class="row">
    <div class="offset-2 col-8 p-3 login-box">
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="login-button hvr-pop" type="submit">{% trans "Sign Up" %}
          &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}