<div class="modal fade" id="modal{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        
      <div class="modal-header">
        <img src="{{  MEDIA_URL }}/recipe_images/{{ recipe.image }}" alt="{{ recipe.image }}">
        <h3 class="modal-title" id="exampleModalLongTitle">{{ recipe.name }}</h3>
      </div>
      <div class="modal-notes">
        <div class="col-2">
            {% if recipe.category|cut:" " == "omni" %}
                {% include "icons/omni.svg" %}
            {% elif recipe.category|cut:" " == "veggie" %}
                {% include "icons/veggie.svg" %}
            {% elif recipe.category|cut:" " == "vegan" %}
                {% include "icons/vegan.svg" %}
            {% endif %}
        </div>
        <div class="col-2">
            {% if recipe.isfrozen == "Yes" %}
                {% include "icons/freeze.svg" %}
            {% endif %}
        </div>
      </div>
      <div class="modal-body text-left">
          <h4>Ingredients:</h4>
          <ul>
            {% for ingredient in recipe.quantity_set.all %}
              <li>{{ ingredient.for_4 }} {{ ingredient.ingredients }}</li>
            {% endfor %}
          </ul>
        
      </div>
      
      <div class="modal-body text-left">
          <h4>Steps:</h4>
          <ol>
            {% for step in recipe.steps.all %}
              <li>{{ step }}</li>
            {% endfor %}
          </ol>
        
      </div>
      <div class="modal-footer">
        <div data-dismiss="modal">{% include "icons/exit.svg" %}</div>
      </div>
    </div>
  </div>
</div>