<div class="modal fade" id="modal{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">{{ recipe.name }}</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <div data-dismiss="modal">{% include "layout/icons/exit.html" %}</div>
      </div>
    </div>
  </div>
</div>