<div class="modal fade" id="modal-shopping" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        {% include "icons/shopping.svg" %}
        <h3 class="modal-title" id="exampleModalLongTitle">Shopping List</h3>
      </div>
      <div class="modal-notes">
        <div class="col-8 text-left">
          <h4><em>
              Shopping for {{ quantity }}
            </em></h4>
        </div>
      </div>
      <div class="modal-body text-left">
        <h4>To buy:</h4>
        <ul>
          {% for recipe in recipes %}
          {% for ingredient in recipe.quantity_set.all %}
          <li>
            {% if quantity == 'one' %}
            {% if recipe.isfrozen == 'Yes' %}
            {% if current_week == '1' or current_week == '2' %}
            {{ ingredient.for_4 }} {{ ingredient.ingredients }}
            {% endif %}
            {% else %}
            {{ ingredient.for_2 }} {{ ingredient.ingredients }}
            {% endif %}
            {% elif quantity == 'two' %}
            {% if recipe.isfrozen == 'Yes' %}
            {% if current_week == '1' or current_week == '2' %}
            {{ ingredient.for_8 }} {{ ingredient.ingredients }}
            {% endif %}
            {% else %}
            {{ ingredient.for_4 }} {{ ingredient.ingredients }}
            {% endif %}
            {% endif %}
          </li>
          {% endfor %}
          {% endfor %}
        </ul>

      </div>
      <div class="modal-footer">
        <div data-dismiss="modal">{% include "icons/exit.svg" %}</div>
      </div>
    </div>
  </div>
</div>