{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Add item {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col justify-content-center">
            <h1 class="page-heading">Dashboard Management</h1>
            <h4 class="page-subheading"><em>Add Item</em></h4>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10 management-box">
        <form method="POST" action="{% url 'add_item' %}" class="form mb-2">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="pt-3">
                <button class="login-button hvr-pop" type="submit">Add Item</button><br>
                <h5 class="pt-3"><a class="anchor hvr-pop" href="{% url 'dashboard_management' %}?category=fruit">Cancel</a></h5>
            </div>
        </form>
        </div>
    </div>
</div>


{% endblock %}