{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "layout/month-header.html" %}
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="offset-4 col-2 text-center icons-large plan-icons recipes-anchor">
                {% include "layout/icons/food.svg" %}
            </div>
            <div class="col-2 text-center icons-large  plan-icons">
                {% include "layout/icons/calendar.svg" %}
            </div>
        </div>
        <div class="row pt-3">
            <div class="offset-1 col-2 text-center">
                {% include "layout/icons/fruit.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/vegetables.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/herbs.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/meat.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/fish.svg" %}
            </div>
        </div>
        <div class="row pt-3 text-center">
            <div id="seasonal-box" class="offset-1 col-10">
                <h3>In season this month</h3>
                <div class="row">
                {% for item in items %}
                <div id="seasonal-items" class="col-6 col-md-4">
                {{ item }}
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}