{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Dashboard {% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
{% include "layout/month-header.html" %}
<div class="container-fluid">
  <div class="row pt-5">
    <div
      class="offset-4 col-2 text-center icons-large plan-icons recipes-anchor">
      {% include "icons/food.svg" %}
    </div>
    <div class="col-2 text-center icons-large plan-icons plan-anchor">
      {% include "icons/calendar.svg" %}
    </div>
  </div>
  <div class="row pt-3">
    <div class="offset-1 col-2 text-center">
      {% include "icons/fruit.svg" %}
    </div>
    <div class="col-2 text-center">
      {% include "icons/vegetables.svg" %}
    </div>
    <div class="col-2 text-center">
      {% include "icons/herbs.svg" %}
    </div>
    <div class="col-2 text-center">
      {% include "icons/meat.svg" %}
    </div>
    <div class="col-2 text-center">
      {% include "icons/fish.svg" %}
    </div>
  </div>
  <div class="row pt-3 text-center">
    <div id="seasonal-box" class="offset-1 col-10">
      <h3>In season this month</h3>
      <div class="row">
        {% for item in items %}
        <div id="seasonal-items" class="col-6 col-md-4">
          {{ item }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if request.user.is_superuser %}
  <div class="row pt-3 justify-content-center">
    <h4><a class="anchor hvr-pop"
        href="{% url 'dashboard_management' %}?category=fruit">Dashboard
        Management</a></h4>
  </div>
  {% endif %}
</div>
{% endblock %}