{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "layout/month-header.html" %}
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="offset-4 col-2 text-center icons-large plan-icons">
                {% include "layout/icons/food.html" %}
            </div>
            <div class="col-2 text-center icons-large  plan-icons">
                {% include "layout/icons/calendar.html" %}
            </div>
        </div>
        <div class="row pt-3">
            <div class="offset-1 col-2 text-center">
                {% include "layout/icons/fruit.html" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/vegetables.html" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/herbs.html" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/meat.html" %}
            </div>
            <div class="col-2 text-center">
                {% include "layout/icons/fish.html" %}
            </div>
        </div>
        <div class="row pt-3">
            <div id="seasonal-box" class="offset-1 col-10">
                <h4>In season this month:</h4>
            </div>
        </div>
    </div>
{% endblock %}