{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="page-heading">Dashboard Management</h1>
            <h4 class="page-subheading"><em>Item View</em></h4>
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="row pt-3">
            <div class="offset-1 col-2 text-center">
                {% include "icons/fruit.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "icons/vegetables.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "icons/herbs.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "icons/meat.svg" %}
            </div>
            <div class="col-2 text-center">
                {% include "icons/fish.svg" %}
            </div>
        </div>
    </div>

<div class="container">
        <div class="row">
            <h4><a class="anchor hvr-pop" href="{% url 'add_item' %}">Add Item</a></h4>
        </div>
        <div class="row pt-3">
            <div class="col">
                <table class="table">
                    <tr>
                        <th class="text-left">Item</th>
                        <th class="text-center">Category</th>
                        <th class="text-right">Months in Season</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td class="text-left">{{ item.name }}</td>
                        <td class="text-left">{{ item.category.friendly_name }}</td>
                        <td class="text-left">{% for month in item.month.all %}{{ month|title }}, {% endfor %}</td>
                        <td class="text-left"><a href="{% url 'edit_item' item.id %}">{% include "icons/edit.svg" %}</a> | <a href="{% url 'delete_item' item.id %}">{% include "icons/delete.svg" %}</a></td>
                    </tr>    
                    {% endfor %}
                </table>
            </div>
        </div>
</div>

{% endblock %}