<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col">
                {% include "icons/menu-horizontal.svg" %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="https://jess-bennett.github.io/personal-portfolio/" target="_blank" class="hvr-pop">
                {% include "icons/website.svg" %}
            </a>
        </div>
        <div class="col-4">
            <a href="https://github.com/jess-bennett" target="_blank" class="hvr-pop">
                {% include "icons/github.svg" %}
            </a>
        </div>
        <div class="col-4">
            <a href="https://www.linkedin.com/in/jess-bennett-33750368/" target="_blank" class="hvr-pop">
                {% include "icons/linkedin.svg" %}
            </a>
        </div>
    </div>
</div>