<div class="container-fluid">
    <div class="row pt-3 h-100">
        <div id="january-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Jan</h2>
        </div>
        <div id="february-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Feb</h2>
        </div>
        <div id="march-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Mar</h2>
        </div>
        <div id="april-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Apr</h2>
        </div>
        <div id="may-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>May</h2>
        </div>
        <div id="june-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Jun</h2>
        </div>
        <div id="july-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Jul</h2>
        </div>
        <div id="august-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Aug</h2>
        </div>
        <div id="september-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Sep</h2>
        </div>
        <div id="october-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Oct</h2>
        </div>
        <div id="november-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Nov</h2>
        </div>
        <div id="december-select" class="col-3 col-md-2 col-lg-1 text-center month-select">
            <h2>Dec</h2>
        </div>
    </div>
</div>