<nav class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <a href="{% url 'home' %}" class="hvr-pop">
                    {% include "icons/seasons.svg" %}
            </a>
        </div>
        <div class="offset-8 col-2 nav-menu">
                {% include "icons/menu-vertical.svg" %}
        </div>
        <div class="offset-4 offset-md-7 col-2 col-md-1 text-right nav-item">
            <a href="{% url 'membership:membership' %}" class="hvr-pop">{% include "icons/member.svg" %}</a>
        </div>
        <div id="nav-dashboard" class="col-2 col-md-1 text-right hvr-pop nav-item">
            {% include "icons/notes.svg" %}
        </div>
        <div class="col-2 col-md-1 text-right theme-select hvr-pop nav-item">
                {% include "icons/sun.svg" %}
                {% include "icons/cloud.svg" %}
        </div>
    </div>
</nav>