<nav class="fixed-top">
    <div class="row align-items-center">
        <div class="col-8 col-md-10">
            <a href="{% url 'home' %}">
                <img id="logo" src="{{MEDIA_URL}}logo/four-seasons.jpg" alt="Home">
             </a>
        </div>
        <div class="col-2 col-md-1 text-right">
            <a href="#"><i class="far fa-user-circle"></i></a>
        </div>
        <div class="col-2 col-md-1 text-right">
            <a href="#"><i class="far fa-map"></i></a>
        </div>
    </div>
</nav>